Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, Explain each line of statemetand you execute:
>>> b()
>>> b()
>>> b()
>>> a

In [2]:
from Global import*
b()
b()
b()
a
# In this there are two two function b() and c(a)
# First the b() function is called then it goes to global a. Then it calls funtion c(a) which has one arugment.
# Then it goes in funtion c(a) and a is added with 2 and it returns 2 and this loop  runs three time as function b() 
#is called three time and then a is called which returns 6 because when first time a returns 2 the second time that 2 gets 
#added to 2 and returns 4 and so on.

6

Question 2
Using funtion fileLength find the length of the file and excute a friendly message when "idterm.py" file is not found.
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [22]:
def fileLength(filelength):
    try:
        file = open(filelength, 'r')
        files = file.readline()
        file.close()
        return len(files)
    except FileNotFoundError:
        print('File',filelength,'not found.')
print(fileLength('midterm.py'))
fileLength('idterm.py')

102
File idterm.py not found.

Question 3
Write a class named Marsupial and another class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves

In [22]:
class Marsupial:
    def __init__(self):
        self.set = []
    def put_in_pouch(self,animal):
        self.set.append(animal)
    def pouch_contents(self):
        print(self.set)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self,xcordinate,ycordinate):
        Marsupial.__init__(self)
        self.x = xcordinate
        self.y = ycordinate
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates({},{})'.format(self.x,self.y)
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
    3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops

In [7]:
def collatz(x):
    if (x == 1):
        print(1)
        return
    print(int(x))
    
    if (x % 2 != 0):       #odd
        #print(x)
        x = x*3 + 1
        #collatz(x)
    else:                  #even
        x = x/2
        #collatz(x)
    return(collatz(int(x)))
#collatz(1)
#print('\n')
#collatz(10)

In [3]:
collatz(1) #positive integer

1

In [8]:
collatz (10) #positive integer

10
5
16
8
4
2
1

Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [23]:
def binary(num):
    if(num < 0):
        raise ValueError
    elif num > 1:
        binary(num//2)
    print (num % 2, end = '')

In [17]:
binary(0)

0

In [24]:
binary(1)

1

In [25]:
binary(3)

11

In [26]:
binary(9)

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [51]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.flag = 0
    def handle_starttag(self, tag, attributes):
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag == 'h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1
        else: 
            self.flag = 0
    def handle_data(self, data):
        if self.flag and data!='\n':
            print('{}{}'.format(self.flag * ' ', data))
            
infile = open('w3c.html')
given = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(given)

 W3C Mission


  Principles

Question 8
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [92]:
import sqlite3
connection = sqlite3.connect('Data.db')
cur = connection.cursor()
cur.execute("CREATE TABLE sample (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO sample VALUES ('Mumbai','India','Winter','24.8','5.9')")

In [93]:
City, Country, Season, Temperature, Rainfall = 'Mumbai', 'India', 'Spring', '28.4', '16.2'

In [95]:
cur.execute("INSERT INTO sample VALUES (?, ?, ?, ?, ?)", (City, Country, Season, Temperature, Rainfall))

In [97]:
enter = ('Mumbai','India', 'Summer', '27.9', '1549.4')
enter = ('Mumbai', 'India', 'Fall', '27.6', '346.0')
cur.execute("INSERT INTO sample VALUES (?,?,?,?,?)", enter)

In [98]:
enter = ('Londan', 'United Kingdom', 'Winter', '4.2', '207.7')
enter = ('Londan', 'United Kingdom', 'Spring', '8.3', '169.6')
enter = ('Londan', 'United Kingdom', 'Summer', '15.7', '157.0')
enter = ('Londan', 'United Kingdom', 'Fall', '10.4', '218.5')
cur.execute("INSERT INTO sample VALUES (?,?,?,?,?)", enter)

In [99]:
enteries = ('Cario', 'Egypt', 'Winter', '13.6', '16.5')
enteries = ('Cario', 'Egypt', 'Spring', '20.7', '6.5')
enteries = ('Cario', 'Egypt', 'Summer', '27.7', '0.1')
enteries = ('Cario', 'Egypt', 'Fall', '22.2', '4.5') 
cur.execute("INSERT INTO sample VALUES (?,?,?,?,?)", enter)

In [100]:
connection.commit()
connection.close()

In [108]:
connection = sqlite3.connect('data.db')
cur = connection.cursor()
 # a. 
cur.execute('SELECT Temperature FROM sample')
for enter in cur:
    print(enter) 
cur.fetchall()

(24.8,)
(28.4,)
(27.6,)
(10.4,)
(10.4,)

[]

In [109]:
# b.
cur.execute('SELECT * FROM sample where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [111]:
# c.
cur.execute('SELECT * FROM sample where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Londan', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Londan', 'United Kingdom', 'Fall', 10.4, 218.5)]

Question 9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER','over',4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.

In [59]:
words = ['The', 'quick', 'brown', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']
print('List of words presented in Upper case:')
print([L.upper() for L in words], "\n")

print('List of words presented in Lower case:')
print([L.lower() for L in words], "\n")

print('Length of each words in the list:')
print([len(L) for L in words], '\n')

print('The list conataining a list for every word of list words, where it gives Uppercase, Lowercase and Length of each words:')
print([[L.upper(), L.lower(), len(L)] for L in words], '\n')

print('Words containing 4 or more characters:')
print([L.capitalize() for L in words if len(L)>=4])

List of words presented in Upper case:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMP', 'OVER', 'THE', 'LAZY', 'DOG']

List of words presented in Lower case:
['the', 'quick', 'brown', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']

Length of each words in the list:
[3, 5, 5, 3, 4, 4, 3, 4, 3]

The list conataining a list for every word of list words, where it gives Uppercase, Lowercase and Length of each words:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMP', 'jump', 4], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

Words containing 4 or more characters:
['Quick', 'Brown', 'Jump', 'Over', 'Lazy']